table {
border: 1px solid black;
border-spacing: 1px;
padding: 1px;
}
.middle {
margin: 0 auto;
	
}
.center {
text-align: center;
}
.right {
text-align: right;
}
.green {
background-color: green;
	height:20px
}
.blue {
background-color: blue;
	height:20px
}